<div class="rule_item" data-rule-id="{{ruleId}}">
    <span class="rule_name">{{ruleName}}</span>
    <span class="rule_type_badge">{{ruleType}}</span>
    <span class="rule_conditions_summary">{{conditionsSummary}}</span>
    <div class="rule_actions">
        <button class="menu_button rule_edit_btn" title="Edit">
            <i class="fa-solid fa-pencil"></i>
        </button>
        <button class="menu_button rule_delete_btn" title="Delete">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</div>
